
.icon{
   
   display: flex;
   flex-direction: row;
   justify-content:space-around;
  
}
.title{
    text-align: center;
}
    body{
    background: url('1702721801317.jpeg');
    background-size:auto; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat;
    /* color:#ffa000; */
    font-family:arial;
    background-size: cover; /* or use 'contain' depending on your needs */
    background-position: center center;
    background-repeat: no-repeat;
    margin:none;
    padding:none;
    font-weight:bolder;                            
    overflow-x: none;
    overflow-y:none;
    background-attachment: fixed;
    /* background:fixed; */
    }
    #rock{
        border-radius: 120px;
    }
    #paper-image{
        height:100px;
        width:100px;
    }
    #rock-image{
        height:100px;
        width:100px;
    }
    #scissor-image{
        height:100px;
        width:100px;
    }
    #paper{
        border-radius:130px;
    }
    #scissors{
        border-radius:120px;
    }
    .emoji{
        border:5px solid #ffa000;
        background:transparent;
        cursor:pointer
    }
    .reset{
        cursor:pointer;
        background:rgb(244 203 76 / 92%);
        border:none;
        padding:10px 15px;
        border-radius:50px;
        color:black;
        font-weight:bold;
    }
    button{
        text-align: center;
    }
    .resultAll{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (max-width: 445px){
        #paper-image{
            height:60px;
            width:60px;
        }
        #rock-image{
            height:60px;
            width:60px;
           
        }
        #scissor-image{
            height:60px;
            width:60px;
           
        }
        
    }
    @media screen and (max-width: 295px){
        #paper-image{
            height:43px;
            width:43px;
        }
        #rock-image{
            height:43px;
            width:43px;
           
        }
        #scissor-image{
            height:43px;
            width:43px;
           
        }
        
    }
